<div class="uk-alert uk-alert-danger">
    <p class="uk-text-bold">
        {% trans %}This feature is not available for your service plan{% endtrans %}
    </p>
    <p>
        <a class="uk-button uk-button-danger" href="{{ path('pool_linkmotor_limits_reached') }}">
            {% trans %}Please click here for more information{% endtrans %} &raquo;
        </a>
    </p>
</div>
<p><br></p>
