{% extends 'PoolLinkmotorBundle::layout.html.twig' %}

{# Die folgende Zeile löschen, wenn Du die Navigation anzeigen möchtest#}
{% block navigation %}{% endblock %}

{% block content %}
</div>
<div class="uk-container uk-container-center uk-text-center" style="max-width:100%; background-image:url(https://dl.dropboxusercontent.com/u/451071/preise-und-pakete-bg.png);margin-top: -48px; padding-top: 75px;">
	
	<img src="https://dl.dropboxusercontent.com/u/451071/preise-und-pakete.png" alt="" width="960" style="min-width: 960px;">
</div>
{% endblock %}
