<div class="uk-panel uk-panel-box">
    <ul class="uk-breadcrumb">
        <li>Admin</li>
        <li>
            <a href="{{ path('pool_linkmotor_admin_projects_index') }}">
                {% trans %}Projects{% endtrans %}
            </a>
        </li>
        <li>{{ project.name }}</li>
    </ul>
</div>
