{% extends 'PoolLinkmotorBundle::layout.html.twig' %}

{% block title %}{% trans %}Add page{% endtrans %} - {% endblock %}

{% block content %}
    <h3>{% trans %}Add page{% endtrans %}</h3>

    <form class="uk-form uk-form-row" action="{{ path('pool_linkmotor_pages_add') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        <fieldset>
            {{ form_rest(form) }}
        <input class="uk-button uk-button-primary" type="submit" value="{% trans %}Create{% endtrans %}" />
        </fieldset>

    </form>

{% endblock %}
