{% extends 'PoolLinkmotorBundle::layout.html.twig' %}

{% block subnav %}
    {% include 'PoolLinkmotorAdminBundle:Blacklist:breadcrumb.html.twig' with {blacklistItem:blacklist} %}
{% endblock %}

{% block content %}
    <h1>{% trans %}Delete{% endtrans %}</h1>
    <form class="uk-form uk-form-horizontal" action="{{ path('pool_linkmotor_explorer_blacklist_delete', {id:blacklist.id}) }}" method="post">
        <fieldset class="uk-alert-danger uk-alert-large">
            <h2>{% trans %}Are you sure?{% endtrans %}</h2>
            <p>{% trans %}Deleting this blacklist item cannot be undone!{% endtrans %}</p>
        </fieldset>
        <input class="uk-button uk-button-danger" type="submit" value="{% trans %}Delete{% endtrans %}" />
        <a class="uk-button-small uk-button-link lmcancelbutton" href="{{ path('pool_linkmotor_explorer_blacklist_index') }}">
            {% trans %}Cancel{% endtrans %}
        </a>
    </form>
{% endblock %}
