<ul class="uk-tab">
    <li>
        <a href="{{ path('pool_linkmotor_backlinks_import') }}">
            {% trans %}CSV-Import{% endtrans %}
        </a>
    </li>
    <li class="uk-active">
        <a href="{{ path('pool_linkmotor_imports_index') }}">
            {% trans %}Linkbird Import{% endtrans %}
        </a>
    </li>
</ul>
